body {
  font-size:30px;
}
h2 {
  font-size:46px;
}
/* align containers and text */
.box_wrapper {
  display: flex;
  justify-content: center;
}
.container1 h2 {
   color:yellow;
   display: flex;
   justify-content: center;
}
.container2 h2 {
   color:pink;
   display: flex;
   justify-content: center;
  
}
.container3 h2 {
   color:brown;
   display: flex;
   justify-content: center;
}

/* container settings */
.container1 {
   display:inline-block;
   background-color:blue;
   width:500px;
   height:300px;
   border-radius:20px;
   border-color:dark-blue;
   border: solid 10px;
   margin:10px;
}
.container2 {
   display:inline-block;
   background-color:black;
   width:500px;
   height:300px;
   border-radius:20px;
   border: solid 10px;
   margin:10px;
}
.container3 {
   display:inline-block;
   width:500px;
   height:300px;
   
   border: solid 10px;
   border-radius:20px;
   margin:10px;
}
/* mouse over */
.container3:hover {
   background-color: yellow;
  }
.container2:hover {
   background-color: green;
}
.container1:hover {
   background-color: green;
}  
